.advantages {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
}

.advantages__title {
  @include oswReg(36px, 60px);
  margin: 0;
  margin-bottom: 25px;
}

.advantages__list {
  @include resetList;
}

.advantages__item {
  display: inline-block;
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  vertical-align: bottom;

  @include arialReg;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $green;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &--health::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--meal::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 708px;
    padding: 0 30px;

    border-bottom: 1px solid #f2f2f2;
  }

  .advantages__title {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 10px;

    font-size: 60px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;
  }

  .advantages__item {
    width: 245px;
    min-height: 120px;
    margin: 0;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 0;
    padding-top: 110px;

    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      right: 0;
      top: 0;

      margin-top: -40px;
      // margin-left: 150px;
      z-index: -10;

      @include oswReg(281px, 281px, #f2f2f2);
    }

    &--health::after {
      content: "1";
    }

    &--powder::after {
      content: "2";
    }

    &--meal::after {
      content: "3";
    }

    &--time::after {
      content: "4";
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
    padding: 0 40px;
    margin-bottom: 0;

    border: none;
  }

  .advantages__list {
    width: 1220px;
    justify-content: space-between;
  }

  .advantages__item {
    margin: 25px 0;
  }

  .advantages__title {
    padding: 40px 0;
  }
}
