.cards {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.cards__title {
  margin: 0;
  padding: 15px 20px;
  padding-bottom: 28px;

  @include oswReg(36px, 60px);

  border-bottom: 1px solid #e6e6e6;
}

.cards__list {
  @include resetList;
}

@media (min-width: $tablet-width) {
  .cards {
    width: 708px;
    padding: 0 30px;
    margin-bottom: 90px;
  }

  .cards__title {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 28px;

    @include oswReg(60px, 60px);
    text-align: left;
    border: none;
  }

  .cards__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .cards {
    width: 1220px;
    margin-bottom: 95px;
    padding: 0 40px;
  }


  .cards__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1220px;
  }

  .cards__title {
    padding: 20px 0;
  }
}
