.card {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  padding: 0 20px;

  border-bottom: 1px solid #e6e6e6;
}

.card__picture {
  display: block;
}

.card__wrapper-text {
  width: 50%;
}

.card__link-title {
  text-decoration: none;
}

.card__title {
  margin-top: 20px;
  margin-bottom: 12px;
  padding-right: 60px;

  @include oswReg(16px, 20px);
  text-transform: uppercase;
}

.card__description {
  width: 100%;

  @include arialReg(12px, 16px);
  border-collapse: collapse;
}

.card__description td {
  padding: 0;
}

.card__prop {
  width: 50%;
}

.card__value {
  width: 50%;

  text-align: right;
}

.card__button-order {
  margin-bottom: 24px;
}

.card__link-more {
  position: relative;
  width: 100%;
  padding-top: 25px;

  text-decoration: none;
  text-align: center;

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 30px;
    height: 30px;

    background-image: url("../img/icon-plus-mobile.svg");
    opacity: 0.2;
  }
}

.card__link-more b {
  display: block;
  margin-bottom: 5px;

  @include oswReg(16px, 20px);
  text-transform: uppercase;
  text-align: center;
}

.card__link-more p {
  margin: 0;
  margin-bottom: 23px;

  @include arialReg(12px, 16px);
}

.card__show-all {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .card {
    display: block;
    width: 324px;
    min-height: 430px;
    margin-top: 140px;
    padding: 0;

    background-color: #f2f2f2;
    border: none;
  }

  .card--show-more {
    width: 244px;
    padding: 0 40px;

    background: none;
    border: 1px solid #f2f2f2;
  }

  .card__link-picture {
    position: relative;
    display: block;
    min-height: 208px;
    margin-top: -82px;
    margin-bottom: 37px;
  }

  .card__link-picture img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
  }

  .card__wrapper-text {
    width: 249px;
    padding: 0 38px;
  }

  .card__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 50px;

    font-size: 20px;
    text-align: center;
  }

  .card__description {
    margin-bottom: 32px;

    font-size: 16px;
  }

  .card__description td {
    padding-top: 7px;
    padding-bottom: 8px;

    border-bottom: 1px solid #cdcdcd;
  }

  .card__button-order {
    width: 209px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .card__link-more {
    display: block;
    margin-bottom: 60px;
    padding-top: 55px;

    &::before {
      width: 60px;
      height: 60px;
      margin-bottom: 50px;

      background-image: url("../img/icon-plus.svg");
    }
  }

  .card__link-more b {
    margin-bottom: 30px;
    padding: 0 50px;

    font-size: 20px;
  }

  .card__link-more p {
    margin-bottom: 85px;
    padding: 0 30px;

    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .card {
    width: 245px;
    min-height: 431px;
    margin-top: 142px;
  }

  .card__link-picture {
    margin-top: -80px;
    margin-bottom: 25px;
  }

  .card__wrapper-text {
    width: 169px;
    padding: 0 38px;
  }

  .card__title {
    margin-bottom: 10px;
    padding: 10px;
  }

  .card__button-order {
    width: 129px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .card--show-more {
    width: 169px;
    padding: 0 38px;
  }

  .card__link-more::before {
    margin-bottom: 50px;
  }

  .card__link-more b {
    padding: 0 10px;
    margin-bottom: 25px;
  }

  .card__link-more p {
    margin-bottom: 82px;
    padding: 0;

    line-height: 20px;
  }
}
