.cards__title {
  @include container;
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;

  @include oswReg(36px, 60px, $black);
  border-bottom: 1px solid #e6e6e6;
}

.cards__list {
  @include resetList;
}
