.cat-owner {
  margin-bottom: 12px;
}

.cat-owner legend {
  margin-bottom: 35px;
  padding-top: 15px;
}

.cat-owner p {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 20px;
}

.cat-owner label {
  margin-right: 10px;
}

.cat-owner__icon {
  position: absolute;
  left: 265px;
}

.cat-owner input:focus + .cat-owner__icon {
  fill: $green;
}

.cat-owner input.form__invalid:focus + .cat-owner__icon {
  fill: rgba(#ff8282, 0.3%);
}

@media (min-width: $tablet-width) {
  .cat-owner {
    margin-bottom: 50px;
  }

  .cat-owner__wrapper {
    margin-bottom: 18px;
    padding-top: 18px;
  }

  .cat-owner legend {
    margin-bottom: 50px;
    padding-top: 0;
    padding-bottom: 10px;
  }

  .cat-owner p {
    margin: 0;
    margin-bottom: 18px;
    padding-left: 71px;
    padding-right: 67px;
  }

  .cat-owner label {
    margin-right: 20px;
  }

  .cat-owner label[for="phone"] {
    margin-right: 15px;
  }

  .cat-owner__icon {
    left: 665px;
  }
}

@media (min-width: $desktop-width) {
  .cat-owner__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .cat-owner legend {
    margin-bottom: 45px;
  }

  .cat-owner p {
    width: 570px;
    padding: 0;
    margin: 18px 0;
  }

  .cat-owner__icon {
    left: auto;
    right: 20px;
  }
}
