.contacts {
  background-color: #f2f2f2;

  &--index {
    background-color: #ffffff;
  }
}

.contacts__wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0 20px;
  padding-top: 28px;
}

.contacts__wrapper b {
  width: 50%;

  @include oswReg(16px, 20px);
  text-transform: uppercase;
}

.contacts__wrapper-address {
  width: 50%;
}

.contacts__wrapper-address p {
  margin: 0;

  @include arialReg(14px, 20px);
}

.contacts__wrapper-map {
  position: relative;
  height: 360px;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

.contacts__map-pin {
  position: absolute;
  left: calc(50% - 31px);
  top: 130px;
  width: 62px;
  height: 53px;

  background-image: url("../img/map-pin.png");
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 708px;
    justify-content: space-between;
    margin-bottom: 38px;
    padding: 0 30px;
  }

  .contacts b {
    width: 200px;
    margin-top: 65px;
    padding-left: 40px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__wrapper-address {
    width: 180px;
    margin-top: 63px;
    padding-right: 40px;
  }

  .contacts__wrapper-address p {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__wrapper-map {
    height: 395px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }

    .contacts__map-pin {
      width: 124px;
      height: 106px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    left: calc((100% - 1300px) / 2 + 40px);
    top: 100px;
    width: 570px;
    min-height: 200px;
    margin: 0;
    padding: 0;
    z-index: 10;

    background-color: #ffffff;
  }

  .contacts b {
    margin-top: 62px;
    padding-left: 77px;
  }

  .contacts__wrapper-address {
    width: 185px;
    margin-top: 60px;
    padding-right: 60px;
  }

  .contacts__wrapper-address p {
    text-align: left;
  }

  .contacts__wrapper-map {
    height: 400px;

    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }

    .contacts__map-pin {
      left: calc(50% + 300px);
    }
  }
}
