.contacts {

  background-color: #f2f2f2;

  &--index {
    background-color: #ffffff;
  }
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 25px;
  padding: 0 20px;
  padding-top: 30px;
}

.contacts__wrapper b {
  width: 50%;

  @include oswReg(16px, 20px);
  text-transform: uppercase;
}

.contacts__wrapper-address {
  width: 50%;
}

.contacts__wrapper-address p {
  margin: 0;

  @include arialReg(14px, 20px);
}

.contacts__wrapper-map {
  height: 360px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 708px;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 30px;

  }

  .contacts b {
    width: 200px;
    margin-top: 65px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__wrapper-address {
    width: 180px;
    margin-top: 65px;
    padding-right: 40px;
  }

  .contacts__wrapper-address p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__wrapper-map {
    height: 390px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    left: calc((100% - 1300px) / 2 + 40px);
    top: 100px;
    width: 570px;
    min-height: 200px;
    margin: 0;
    padding: 0;
    z-index: 10;

    background-color: #ffffff;
  }

  .contacts b {
    padding-left: 80px;
  }

  .contacts__wrapper-address {
    margin-top: 60px;
    padding-right: 60px;
  }

  .contacts__wrapper-address p {
    text-align: left;
  }

  .contacts__wrapper-map {
    height: 400px;
  }
}
