.form {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.form label,
.form textarea,
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"] {
  padding: 12px 0;

  @include oswReg(16px, 18px);
  text-transform: uppercase;
}

.form textarea,
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"] {
  min-width: 100px;
  flex-grow: 1;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;

  border: 1px solid #e6e6e6;
}

.form__set {
  margin: 0;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e6e6e6;

  &--with-title {
    border-bottom: none;
    border-top: 3px solid $green;
  }
}

.form__set legend {
  max-width: 185px;
  padding: 0 20px;

  @include oswReg(24px, 24px);
}

.form__set p {
  display: flex;
}

.form__title {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 0 20px;

  @include oswReg(36px, 60px);
}

.form__description {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 40px;

  @include oswReg(14px, 18px);
  text-transform: uppercase;
}

// .form__main-info label,
// .form__cat-owner label {
//   margin-right: 20px;
// }


// .form__comment textarea {
//   width: 100%;


// }

.form__button {
  width: 280px;
  margin: 0 20px;
  margin-bottom: 20px;
}

.form small {
  display: block;

  @include arialReg(14px, 16px);
  text-align: center;
}
