.main-info {
  padding: 0 20px;
  padding-bottom: 10px;
}

.main-info p {
  margin: 14px 0;
}

.main-info label {
  margin-right: 15px;
}

@media (min-width: $tablet-width) {
  .main-info {
    margin-bottom: 42px;
    padding-left: 71px;
    padding-right: 67px;
  }

  .main-info p {
    margin: 20px 0;
  }

  .main-info label {
    margin-right: 15px;
  }

  .main-info label[for="cat-weight"] {
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-info {
    width: 570px;
    margin: 0;
    padding: 0;
  }

  .main-info label {
    margin-right: 16px;
  }
}
