.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 42px;
}

.page-footer__logo {
  display: block;
  width: 128px;
  margin: 0 auto;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__wrapper-social {
  padding: 21px 0;

  border-top: 1px solid rgba(#666666, 0.1%);
  border-bottom: 1px solid rgba(#666666, 0.1%);
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include arialReg(16px, 16px);
  text-decoration: none;
  color: $grey;

  &:hover svg,
  &:focus svg {
    color: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright span {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-footer__copyright svg {
  margin-top: 5px;
  margin-bottom: 5px;
  transform: scale(1.5);
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
  }

  .page-footer__logo {
    margin: 0;
    margin-top: 65px;
    margin-bottom: 60px;
  }

  .page-footer__wrapper-social {
    margin-top: 60px;
    padding: 0;
    padding-left: 25px;

    border: none;
  }

  .page-footer__copyright span {
    margin-right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1220px;
    padding: 0 40px;
  }
}
