.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  @include container;
  padding-top: 40px;
}

.page-footer__logo {
  display: block;
  width: 128px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.page-footer__wrapper-social {
  padding: 20px 0;
  border-top: 1px solid rgba(#666666, 0.1%);
  border-bottom: 1px solid rgba(#666666, 0.1%);
}

.page-footer__wrapper-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 22px 0;
}

.page-footer__copyright-name {
  display: block;

  @include arialReg(16px, 16px);
  text-decoration: none;
}
