.real-story {
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;

  background-color: #f2f2f2;
}

.real-story__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;

  @include oswReg(36px, 60px);
}

.real-story__description {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 25px;

  @include arialReg(14px, 18px);
}

.real-story__wrapper-progress {
  margin-bottom: 20px;
  padding: 0 20px;
}

.real-story__progress-list {
  display: flex;
  justify-content: space-between;
  width: 280px;

  @include resetList;
  margin-bottom: 5px;
}

.real-story__progress-item {
  width: 124px;
}

.real-story__progress-item b {
  display: block;
  padding: 16px 10px;

  @include oswReg(24px, 24px);
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.real-story__progress-item p {
  width: 65px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: -10px;
  background-color: #f2f2f2;

  @include arialReg(12px, 12px);
  text-align: center;
}

.real-story__expenses {
  display: flex;
  justify-content: center;
}

.real-story__expenses p {
  @include oswReg(14px, 20px);
  text-transform: uppercase;
}

.real-story__image--before,
.real-story__image--after {
 display: none;
}

.real-story__image--active {
  display: block;
}

.real-story__wrapper-images {
  margin-bottom: 30px;
}
