.real-story {
  background-color: #f2f2f2;
}

.real-story__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
}

.real-story__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;

  @include oswReg(36px, 60px);
}

.real-story__description {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 25px;

  @include arialReg(14px, 18px);
}

.real-story__wrapper-progress {
  margin-bottom: 20px;
  padding: 0 20px;
}

.real-story__progress-list {
  display: flex;
  justify-content: space-between;
  width: 280px;

  @include resetList;
  margin-bottom: 5px;
}

.real-story__progress-item {
  width: 124px;
}

.real-story__progress-item b {
  display: block;
  padding: 16px 10px;

  @include oswReg(24px, 24px);
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.real-story__progress-item p {
  width: 65px;
  display: flex;
  margin: 0 auto;
  margin-top: -10px;
  padding: 0 10px;

  @include arialReg(12px, 12px);
  text-align: center;

  background-color: #f2f2f2;
}

.real-story__expenses {
  margin-top: 20px;
  margin-bottom: 32px;

  @include oswReg(14px, 20px);
  text-transform: uppercase;
  text-align: center;
}

.real-story__image {
  display: none;
}

.real-story__image--active {
  display: block;
}

.real-story__wrapper-images {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .real-story {
    background: linear-gradient(to top, #f2f2f2 465px, #ffffff 465px);
  }

  .real-story__wrapper {
    width: 768px;
    padding-top: 25px;
  }

  .real-story__title {
    margin-bottom: 65px;
    padding: 0 30px;

    font-size: 60px;
  }

  .real-story__description {
    margin-bottom: 50px;
    padding: 0 30px;

    font-size: 16px;
    line-height: 24px;
  }

  .real-story__wrapper-progress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 0 30px;
  }

  .real-story__progress-list {
    width: 365px;
    margin-bottom: 0;
  }

  .real-story__progress-item {
    width: 160px;
  }

  .real-story__progress-item b {
    font-size: 30px;
    line-height: 37px;
  }

  .real-story__progress-item div {
    display: flex;
  }

  .real-story__progress-item p {
    width: auto;
    margin-top: -8px;
    padding: 0 5px;

    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;
  }

  .real-story__expenses {
    width: 180px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 10px;

    text-align: right;
    font-size: 20px;
    line-height: 30px;
  }

  .real-story__wrapper-images {
    margin-bottom: 15px;
  }

  .real-story__wrapper-images img {
    width: 690px;
    height: 517px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .real-story {
    background: linear-gradient(#ffffff 190px, #f2f2f2 190px);
  }

  .real-story__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    padding-top: 0;
  }

  .real-story__wrapper-left {
    width: 435px;
    padding: 0 40px;
    padding-top: 50px;
  }

  .real-story__title {
    margin-bottom: 150px;
    padding: 0;
  }

  .real-story__description {
    margin-bottom: 65px;
    padding: 0;
  }

  .real-story__wrapper-progress {
    display: block;
    margin-bottom: 70px;
    padding: 0;
  }

  .real-story__progress-list {
    margin-bottom: 50px;
  }

  .real-story__progress-item p {
    background-color: #f2f2f2;
  }

  .real-story__expenses {
    text-align: left;
    width: 435px;
    margin-top: 0;
  }

  .real-story__expenses span {
    margin-left: 60px;
  }

  .real-story__wrapper-right {
    width: 690px;
  }

  .real-story__wrapper-images {
    margin-bottom: 32px;
  }
}
