body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  @include arialReg;

  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $desktop-width) {
  body {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top right;
  }
}
