.site-list {
  @include resetList;
}

.site-list__item {
  padding: 22px 20px;
  border-bottom: 1px solid #e6e6e6;
}

.site-list__item a {
  display: block;

  @include oswMed(20px, 20px);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    padding: 8px 0;

    border: none;

    &--active {
      border-bottom: 2px solid $green;
    }
  }

  .site-list__item a {
    @include oswReg(18px, 25px);
  }
}

@media (min-width: $desktop-width) {
  .site-list__item a {
    font-size: 20px;
  }
}
