.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 40px;
}

.slider__control {
  padding: 0;

  @include oswReg(16px, 20px);
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.slider__scale {
  position: relative;
  width: 82px;
  height: 12px;
  margin: 0 15px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
}

.slider__toggle {
  position: absolute;
  top: 3px;
  width: 35px;
  height: 6px;

  background-color: $green;
  border: none;
  border-radius: 3px;
}

.slider__toggle--left {
  left: 5px;
}

.slider__toggle--right {
  right: 5px;
}
