.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 40px;
}

.slider__control {
  padding: 0;

  @include oswReg(16px, 20px);
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.slider__scale {
  position: relative;
  width: 82px;
  height: 12px;
  margin: 0 15px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
}

.slider__toggle {
  position: absolute;
  top: 3px;
  width: 35px;
  height: 6px;

  background-color: $green;
  border: none;
  border-radius: 3px;
}

.slider__toggle--left {
  left: 5px;
}

.slider__toggle--right {
  right: 5px;
}

@media (min-width: $tablet-width) {
  .slider {
    width: 708px;
    padding: 0 30px;
    padding-bottom: 70px;
  }

  .slider__control {
    padding: 5px 0;

    font-size: 20px;

    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);

    &:hover,
    &:focus {
      border-bottom: 1px solid #000000;
    }

    &:active {
      border-bottom: none;
    }
  }

  .slider__scale {
    width: 430px;
    height: 6px;
    margin: 0 20px;

    border: none;
    border-radius: 3px;

    background-color: #dcdcdc;
  }

  .slider__toggle {
    width: 30px;
    height: 30px;
    top: -13px;

    border: 1px solid rgb(205, 205, 205);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    background-color: #ffffff;

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      width: 28px;
      height: 28px;

      border: 2px solid $green;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);

      &::after {
        top: 8px;
        left: 8px;
      }
    }
  }

  .slider__toggle::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: $green;
  }

  .slider__toggle:active .slider__toggle::after {
    background-color: #ffffff;
  }

  .slider__toggle--left {
    left: 0;
  }

  .slider__toggle--right {
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    width: 570px;
    padding: 0 40px;
    margin: 0;
    margin-left: 40px;
  }
}
