.social-buttons {
  @include resetList;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  margin: 0 auto;
}

.social-buttons__item a {
  display: block;
  width: 30px;

  color: #444444;

  &:hover,
  &:focus {
    color: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-buttons__icon {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .social-buttons {
    width: 135px;
  }

  .social-buttons__icon--vk {
    width: 30px;
    height: 16px;
  }

  .social-buttons__icon--insta {
    width: 23px;
    height: 23px;
    margin-right: 0;
  }

  .social-buttons__icon--fb {
    width: 14px;
    height: 28px;
  }
}
